= form_for(endpoint) do |f|
  - if endpoint.errors.any?
    #error_explanation
      %h2
        = pluralize(endpoint.errors.count, "error")
        prohibited this endpoint from being saved:
      %ul
        - endpoint.errors.full_messages.each do |message|
          %li= message
  .actions
    = f.submit
