<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">What you need to know!</h2>
                <hr class="light">
                <p class="text-faded">
                    You sign up once, and connect your account with your CRMs<br/>
                    You then set up your email to forward your property enquieries to CRMthis<br/>
                    and we take care of the rest!
                </p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>

