%section#about.bg-primary
  .container
    .row
      .col-lg-8.col-lg-offset-2.text-center
        %h2.section-heading What you need to know!
        %hr.light/
    .row
      .col-lg-3.col-lg-offset-2.text-center
        %h3 1
        %p.text-faded
          Create an account        
      .col-lg-2.text-center
        %h3 2
        %p.text-faded
          Connect to your CRMs
      .col-lg-3.text-center
        %h3 3
        %p.text-faded
          Forward your emails to us!
    .row
      .col-lg-8.col-lg-offset-2.text-center
        %a.btn.btn-default.btn-xl{:href => "#"} Get Started!
