<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Create your account now!</h2>
            <a href="#" class="btn btn-default btn-xl wow tada">Create Account!</a>
        </div>
    </div>
</aside>

