%body#page-top
  %header
    .header-content
      .header-content-inner
        %h1 CRMThis
        %hr/
        %p A broker for your CRMs
        %a.btn.btn-primary.btn-xl.page-scroll{:href => "#about"} Find Out More
