<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>CRMThis</h1>
            <hr>
            <p>A boraker for your CRMs</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>

