%section#services
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading We work the big players
        %hr.primary
    .row
      .col-lg-12.text-center
        %p.text-muted 90% of all real estate enquieries come through these guys
    .row
      .col-lg-4.col-md-6.col-lg-offset-2.text-center
        .service-box
          %i.fa.fa-4x.fa-diamond.wow.bounceIn.text-primary
          %h3 Rest
          %p.text-muted Rockend's pride and joy
      .col-lg-4.col-md-6.text-center
        .service-box
          %i.fa.fa-4x.fa-paper-plane.wow.bounceIn.text-primary{"data-wow-delay" => ".1s"}
          %h3 HubSpot
          %p.text-muted One stop shop

    .row.spacer
    .row
      .col-lg-12.text-center
        %h2.section-heading And so many CRMs to choose!
        %hr.primary

    .row
      .col-lg-12.text-center
        %p.text-muted We currently work with a number of CRMs, and continuing to grow!
    .row
      .col-lg-3.col-md-6.text-center
        .service-box
          %i.fa.fa-4x.fa-diamond.wow.bounceIn.text-primary
          %h3 Rest
          %p.text-muted Rockend's pride and joy
      .col-lg-3.col-md-6.text-center
        .service-box
          %i.fa.fa-4x.fa-paper-plane.wow.bounceIn.text-primary{"data-wow-delay" => ".1s"}
          %h3 HubSpot
          %p.text-muted blah, blah, blah
      .col-lg-3.col-md-6.text-center
        .service-box
          %i.fa.fa-4x.fa-newspaper-o.wow.bounceIn.text-primary{"data-wow-delay" => ".2s"}
          %h3 Agent Box
          %p.text-muted A box with all the goods
      .col-lg-3.col-md-6.text-center
        .service-box
          %i.fa.fa-4x.fa-heart.wow.bounceIn.text-primary{"data-wow-delay" => ".3s"}
          %h3 Agent Plus
          %p.text-muted A natural extention for you agent needs
